body {
  font-family: 'Montserrat';
}
.landing-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: auto repeat(4, 1fr);
  grid-template-rows: auto auto auto auto auto;
}
.head {
  grid-column-start: 1;
  grid-column-end: -1;
}
.rica-advert {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: -1;
}
.left {
  grid-row-start: 3;
  grid-row-end: -2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.middle {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 5;
}
.right {
  grid-row-start: 3;
  grid-column-start: 5;
  grid-column-end: 6;
  background-color: #f0f0f0e7;
}
.footer {
  background-color: #f0f0f0e7;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: -2;
  grid-row-end: -1;
}
/* @media (min-width:1000px){
    .middle{
        grid-column-start: 2;
    }
} */
@media (max-width: 1000px) {
  .middle {
    grid-column-start: 1;
  }
}
