body {
}
.outer {
  position: relative;
  width: 100%;
  height: 230px;
  overflow: hidden;
  display: inline-flex;
}
.advertisement {
  width: 1310px;
  height: 250px;
  padding: 2% 2%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  margin-left: 2%;
}
.inner {
  display: inline-flex;
}
.next-advert,
.previous-advert {
  font-size: 32px;
  margin: auto auto;
  box-sizing: border-box;
  cursor: pointer;
}
.image {
  margin-top: -2%;
  margin-left: 5%;
  height: 100%;
  width: 200px;
}
.imageSke {
  margin-left: 5%;
  height: 100%;
  width: 200px;
}
.next-advert {
  position: absolute;
  right: 8%;
  top: 35%;
  width: 30px;
}
.previous-advert {
  position: absolute;
  left: 8%;
  top: 35%;
  width: 30px;
}
.content {
  position: relative;
  width: 650px;
}
img {
  height: 100%;
  width: 100%;
}
.content > p {
  font-style: italic;
  font-weight: bold;
  position: absolute;
  color: #8f8d8d;
  bottom: 0;
  right: 0;
}
@media (max-width: 1000px) {
  .advertisement {
    width: 96%;
    height: auto;
  }
  .image,
  .next,
  .previous,
  .content {
    width: auto;
  }
  .content > p > h2 > h4 {
    font-size: 5px;
  }
  .next-advert,
  .previous-advert {
    font-size: 30px;
  }
  .content > p {
    visibility: hidden;
  }
  .outer {
    position: relative;
  }
  .next-advert {
    margin-left: auto;
    margin-top: auto;
  }
  .previous-advert {
    margin-right: auto;
    margin-top: auto;
  }
}
